*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: system-ui;
}

body{
    overflow-x: hidden;
}

a:visited, a:focus{
    color: initial;
}
ul li{
    list-style: none;
}

a{
    text-decoration: none;  
}

img{
    width:100%;
    height: auto;
}

.container{
    max-width: 1074px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.main{
    min-height: calc(100vh - (105 +124));
}

/*header*/

.header{
    background-color: white;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

.header_logo{
    display: block;
    width: 85px;
    height: 85px;
    background-color: #7A96FF;
    border-radius: 50%;
    text-align: center;
}
.header_logo span{
    line-height: 85px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
}
.header_menu{
    display: flex;
    gap: 45px;
}

.header_icon_menu{
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    cursor: pointer;
    padding: 10.5px 5.25px;
    transition: 0.4s;

}
.header_icon_menu span{
    width: 31.5px;
    height: 4px;
    background-color: black;

}
.menu_hidden{
    display: none;
    position: absolute;
    width: 100px;
    border-radius: 15px;
    top: 100px;
    right: 0px;
    color: azure;
    background-color: #535353;
    z-index: 10;
}

/*footer*/
.footer{
  background-color: #2D5298;
}
.footer_content{
    min-height: 124px;
    text-align: center;
}
.footer_content p{
    line-height: 124px;
    color: #FFFFFF;
    font-weight: 700;
}
/*main*/
/*banner*/
.banner{
    background-color: #2D5298;
}

.banner_content{
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.banner_left{
    max-width: 400px;
    padding-left: 15px;
    
}

.banner_left_title{
    font-size: 48px;
    color: #FFFFFF;
}

.banner_left_description{
    line-height: 25px;
    color: #FFFFFF;
    margin: 30px 0;
}

.banner_left_link{
    background-color: #7A96FF;
    padding: 12px 56px;
    border-radius: 35px;
    font-weight: 600;
}

.banner_left_link:hover, .services_card_item_link_button:hover, .services_link_button:hover, .form_send_link_button:hover {
    background-color: #2D5298;
}
/*Service*/


.services_title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 38px;
    margin-bottom: 43px;
}
.services_text{
    max-width: 699px;
    margin-right: auto;
    margin-bottom: 52px;
    margin-left: auto;
    text-align: center;
}

.services_card{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.active {
    box-shadow: 0px 4px 150px 50px #00000033 !important;
    transform: rotate3d(0, 0, 0, 45deg) scale(1.2) !important;
    background-color: #7A96FF;
}
.services_card_item{
    text-align: center;
    width: 211px;
    padding: 27px 15px;
    box-shadow: 0px 4px 9px 0px #00000033;
    border-radius: 6px;
    transition: 0.3s;
    transform: rotate3d(1, 1, 0, 30deg);
}

.services_card_item_image{
    display: inline-block;
    width: 64px;
    margin-bottom: 37px;
}

.services_card_item_title{
    font-size: 24px;
    margin-bottom: 14px;
}

.services_card_item_text{
    line-height: 25px;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;   
}
.services_card_item_link{
    margin-top: 27px;
}

.services_card_item_link_button{
    background-color: #7A96FF;
    padding: 11px 56.5px;
    border-radius: 35px;
    font-weight: 600;
    line-height: 25px;
}

.services_link{
    display: flex;
    justify-content: center;
    margin-top: 58px;
    margin-bottom: 67px;
}
.services_link_button {
    background-color: #7A96FF;
    padding: 19px 100px;
    border-radius: 35px;
    font-weight: 600;
    font-size: 18px;
}

/*contact*/
.contact{
    background-color: #F2F6FC;
}

.contact_content{
    padding-top: 54px;
    padding-bottom: 76px;
}
.contact_title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.form{ 
    max-width: 757px;
    margin-right: auto;
    margin-left: auto;
}
.form_item{ 
    margin-bottom: 20px;
}
.form_item label {
    display: block;
    margin-bottom: 10px;
}

.form_input{
    width: 100%;
    height: 45px;
    border: 1px solid #535353;
    border-radius: 15px;
}

input::placeholder{
    padding-left: 25px;
}

.form_message{
    width: 100%;
    border: -1px solid #535353;
    border-radius: 15px;
    min-height: 160px;
    margin-bottom: 20px;
}
textarea::placeholder{
    padding-left: 25px;
    padding-top: 20px;
}

.form_send_link{
    display: flex;
    justify-content: center;
}

.form_send_link_button {
    background-color: #7A96FF;
    padding: 17px 87px;
    border-radius: 35px;
    font-size: 18px;
}

.required{
    color: red;
}
.error_message{
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 2px;
}

.form_sent{
    display: none;
    max-width: 300px;
    margin: 0 auto;
    margin: 0, auto;
    text-align: center;
    color: green;
    background-color: rgb(148, 216, 148);
    border-radius: 15px;
    padding: 20px;
    right: 850px;
    bottom: -578px;
}
/*Rèsponsivité*/
@media (max-width: 880px){
    .services_card{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 737px){
    .banner_right{
        display: none;
    }
    .banner_left{
        max-width: 737px;
    }
    .header_menu{
        display: none;
    }
    .header_icon_menu{
        display: grid;
    }
}